{% extends "AgenciaActorsFrontendBundle:Default:index.html.twig " %}
{% block title %}Pelicules{% endblock %}
{% block page_content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            {% for film in films %}
            <div class="col-sm-12 col-lg-12 col-md-12">
                <h4>{{ film.getName() }}</h4>
            </div>
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <div class="thumbnail">
                        <div class="cartel">
                            <img src="{{ film.getPhotoURL() }}" class="img-rounded img-responsive">
                        </div>
                        <div class="caption">
                            <p>{{ film.description }}</a></p>
                            <h3> Director: </h3> {{ film.director.name }} {{ film.director.lastname }}
                            <h3> Actors: </h3> 
                            {% for rol in roles %}
                                    {{ rol.getRole() }} - {{ rol.getActor().getName() }} {{ rol.getActor().getLastname() }}
                                    <br/>
                            {% endfor %}
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}