{% extends "AgenciaActorsBackendBundle:Default:index.html.twig " %}
{% block title %}BACKEND - Afegir Director{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}
{% block page_content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <h1>{{ titol }}</h1>
            </div>
            <div class="col-sm-12 col-lg-12 col-md-12">
                {# {{ form(form) }} #}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker();
        });
    </script>
    <script>
            $(document).ready(function () {
            $('.js-datepicker').datepicker({
                format: 'dd-mm-yyyy'
            });
        });
    </script>

{% endblock %}