{% extends "AgenciaActorsBackendBundle:Default:index.html.twig " %}
{% block title %}Categories{% endblock %}
{% block page_content %}
    <h4>{{ titol }}</h4>
    <table id="mytable" class="table table-bordred table-striped">
        <thead>
            <th>NIF</th>
            <th>Nom</th>
            <th>Cognom</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </thead>
        <tbody>
            {% for director in directors %}
                <tr>
                    <td>{{ director.nif|upper }}</td>
                    <td>{{ director.name|upper }}</td>
                    <td>{{ director.lastName|upper }}</td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Editar"><a href="{{ path('agencia_actors_backend_update_director', {'id': director.id }) }}" class="btn btn-primary btn-sm" data-title="Editar"  data-target="#edit"/><span class="fa fa-pencil fa-2x"></span></p></td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Eliminar"><a href="{{ path('agencia_actors_backend_delete_director', {'id': director.id }) }}"><button class="btn btn-danger btn-sm" data-title="Eliminar" data-toggle="modal" data-target="#delete" ><span class="fa fa-trash-o fa-2x"></span></button></a></p></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <a href="{{ path('agencia_actors_backend_add_director') }}" class="btn btn-info" role="button">Afegir Director</a>
        </div>
    </div>
{% endblock %}