{% extends "AgenciaActorsBackendBundle:Default:index.html.twig " %}
{% block title %}Categories{% endblock %}
{% block page_content %}
    <h4>{{ titol }}</h4>
    <table id="mytable" class="table table-bordred table-striped">
        <thead>
            <th>Nom pelicula</th>
            <th>Descripció</th>
            <th>Tipus</th>
            <th>Data d'inici</th>
            <th>Data Final</th>
            <th>Portada pelicula</th>
            <th>Nom del Director</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </thead>
        <tbody>
            {% for film in films %}
                <tr>
                    <td>{{ film.name|upper }}</td>
                    <td>{{ film.description|upper }}</td>
                    <td>{{ film.type|upper }}</td>
                    <td>{{ film.startDate|date('Y-m-d') }}</td>
                    <td>{{ film.endDate|date('Y-m-d') }}</td>
                    <td>{{ film.photoURL }}</td>
                    <td>{{ film.getDirector().getName()|upper }} {{ film.getDirector().getLastname()|upper }}</td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Editar"><a href="{{ path('agencia_actors_backend_update_film', {'id': film.id }) }}" class="btn btn-primary btn-sm" data-title="Editar"  data-target="#edit"/><span class="fa fa-pencil fa-2x"></span></p></td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Eliminar"><a href="{{ path('agencia_actors_backend_delete_film', {'id': film.id }) }}"><button class="btn btn-danger btn-sm" data-title="Eliminar" data-toggle="modal" data-target="#delete" ><span class="fa fa-trash-o fa-2x"></span></button></a></p></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <a href="{{ path('agencia_actors_backend_add_film') }}" class="btn btn-info" role="button">Afegir Pelicula</a>
        </div>
    </div>
{% endblock %}